body {
font-family: "Roboto", sans-serif;
color: #434455;
background-color: #FFFFFF;
}
a {
    text-decoration: none;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.logo-studio {
    color: #2e2f42;
}
ul {
    list-style-type: none;
}
.nav-menu {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.nav-menu:hover, .nav-menu:focus {
    color: #404bbf;
    }
address {
    font-style: normal;
}
.contact {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.contact:hover, .contact:focus {
    color: #404bbf;
}
.hero-image {
    background-color: #2e2f42;
}
.slogan {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.button {
    background-color: #4d5ae5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}
.button:hover, .button:focus {
    background-color: #404bbf;
}
.benefit, .team-member-name, .project-card {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.description, .specialty, .type-of-project {
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.team-section {
    background-color: #f4f4fd;
}
.title-sec {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.team-mem {
    background-color: #FFFFFF;
}
.footer{
    background-color: #2e2f42;
}
.footer-parg {
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
}
.footer-logo-studio {
    color: #f4f4fd;
}